body {
  font-family: "Stapel", sans-serif;
}
.primary_text {
  @apply text-[#E86731];
}
.primary_bg {
  @apply bg-[#E86731];
}
.banner_style {
  background: linear-gradient(180deg, #003154 0%, rgba(0, 49, 84, 0) 100%);
  backdrop-filter: blur(10px);
}
.card_style {
  background: linear-gradient(180deg, #494a4b 0%, rgba(0, 49, 84, 0) 100%);
  backdrop-filter: blur(3px);
  border: 1px solid #e9e9ea;
}
.loginBG {
  /* width: 100%; */
  background-image: linear-gradient(to right, #e86731 30%, transparent 0%),
    linear-gradient(to right, #fdf0ea 100%, transparent 0%);
  /* background-size: 100% 100%;  */
  /* background-repeat: no-repeat; */
}
.clamp_text {
  font-size: clamp(1.5rem, 2vw, 3rem);
}
.ql-editor {
  font-size: 16px; /* Base font size */
}

.ql-editor .ql-size-small {
  font-size: 0.75em;
}

.ql-editor .ql-size-large {
  font-size: 1.5em;
}

.ql-editor .ql-size-huge {
  font-size: 2.5em;
}

/* Ensure proper heading sizes */
.ql-editor h1 {
  font-size: 2em;
}
.ql-editor h2 {
  font-size: 1.5em;
}
.ql-editor h3 {
  font-size: 1.17em;
}
.ql-editor h4 {
  font-size: 1em;
}
.ql-editor h5 {
  font-size: 0.83em;
}
.ql-editor h6 {
  font-size: 0.67em;
}
@font-face {
  font-family: "Stapel";
  src: url("/assets/fonts/stapel/Stapel-Regular.woff2") format("woff2"),
    url("/assets/fonts/stapel/Stapel-Regular.woff") format("woff"),
    url("/assets/fonts/stapel/Stapel-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Stapel", sans-serif;
}
